body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

table tr td {
    padding: 0px;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 65px;
    
}

.box {
    top: 50%;
    margin: auto;
}

.counter {
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
}
